
.violet .button {
    width: 70px;
 
}

.container{
    padding-top: 20px;
    padding-bottom: 15px;
    background-color: black;
    padding-left: 40px;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

.error{
    color: #a291fb;
    display: none;
}

.text{
    color:#a291fb;
    line-height: 1em;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

.show{
    visibility: true;
    color:#a291fb;
}

button {
    padding-top: 10px !important;
    margin-top: 20px !important;
}
